<% @members.each do |member| %>
  <ul class="member">
    <li class="member-name"><%= member.name %></li>
    <li class="member-role"><%= member.role %></li>
    <li class="member-party"><%= member.party %></li>
    <li class="member-district"><%= member.district %></li>
  </ul>
<% end %>
