---
http_interactions:
- request:
    method: get
    uri: https://api.propublica.org/congress/v1/members/house/CO/current.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - OXZQ0yoLU9sHGFeaUk779gaHs6BQjGc7bSqO3095
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 9c988a5c-6726-11e7-8f90-89421f3b1526
    body:
      encoding: UTF-8
      string: |
        {
           "status":"OK",
           "copyright":"Copyright (c) 2017 Pro Publica Inc. All Rights Reserved.",
           "results":[
              {
                 "id": "D000197",
                 "name": "Diana DeGette",
                 "role": "Representative",
                 "gender": "F",
                 "party": "D",
                 "times_topics_url": "",
                 "twitter_id": "RepDianaDeGette",
                 "youtube_id": "RepDianaDeGette",
                 "seniority": "22",
                 "next_election": "2018",
                 "api_uri": "https://api.propublica.org/congress/v1/members/D000197.json",
                 "district": "1"
              },
              {
                 "id": "P000598",
                 "name": "Jared Polis",
                 "role": "Representative",
                 "gender": "M",
                 "party": "D",
                 "times_topics_url": "",
                 "twitter_id": "JaredPolis",
                 "youtube_id": "JaredPolis31275",
                 "seniority": "10",
                 "next_election": "2018",
                 "api_uri": "https://api.propublica.org/congress/v1/[...]
